.box {
  transition: 0.5s ease-in-out;
  max-height: 50vh;
  overflow-y: scroll;
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 50;
}
.button {
  padding: 0.7rem;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 40;
  cursor: pointer;
  border-radius: 99px;
}
