.text {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.button {
  position: absolute;
  bottom: 0;
  transform: translateY(90%);
  cursor: pointer;
}
